@layer base {
  .post-content {
    & > *:not(:last-child) {
      @apply mb-6;
    }

    & > *:first-child {
      @apply mt-0;
    }

    & > blockquote {
      @apply text-2xl italic font-bold max-w-3xl mx-auto mb-16 text-gray-600 relative;
    }

    & > pre {
      @apply max-w-3xl md:mx-auto;
    }

    & > p {
      @apply text-base;
    }

    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
      @apply font-bold;
    }

    & h1 {
      @apply text-4xl;
    }

    & h2 {
      @apply text-2xl;
    }

    & h3 {
      @apply text-xl;
    }

    & h4 {
      @apply text-lg;
    }

    & h5 {
      @apply text-base;
    }

    & h6 {
      @apply text-sm;
    }

    & code:not(pre code) {
      @apply rounded bg-gray-100 text-blue-950 font-bold border border-gray-300 px-1 text-[0.9rem];
    }

    & ul li,
    & ol li {
      @apply relative pl-4;
    }

    & ul li::before {
      @apply absolute left-0 content-['•'];
    }

    & li:not(:last-of-type) {
      @apply mb-2;
    }

    & ol {
      counter-reset: ol-counter;
    }

    & ol li {
      counter-increment: ol-counter;
      @apply pl-6;

      &::before {
        content: counter(ol-counter) '. ';
      }
    }

    & li ul {
      @apply mt-2;
    }

    & figcaption {
      @apply mt-2 text-center text-sm text-gray-500;
    }

    & a {
      @apply underline text-blue-950;
    }
  }
}
